adguard/work/
adguard/conf/

filebrowser/database/
filebrowser/filebrowser.db

homepage/config/custom.css
homepage/config/custom.js
homepage/config/kubernetes.yaml
homepage/config/proxmox.yaml
homepage/config/logs/

nginx-proxy-manager/data/
nginx-proxy-manager/letsencrypt/

ntfy/data/
ntfy/cache/

speedtest-tracker/data/

syncthing/config/

uptime-kuma/data/
